.card{
    
    background-color: rgb(233, 192, 89);
    
    color: black;
}

h3{
    
    font-family: 'Patrick Hand', cursive;
}
#icon{
    color: green;
}
#quote{
    
    color: green;
}

.jumbotron{
    background-image: url("./Images/Newone.png");
    color: rgba(178, 238, 178, 0.911);
    font-family: 'Notable', sans-serif;

}



